[Service]
PrivateTmp=true
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/ngrok start --all
Restart=always

[Install]
WantedBy=multi-user.target
